*{
    padding: 0%;
    margin: 0%;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
  margin-top: 10px;
    height: 55px;
    width: 99%;
    
}
#searchicon{
    position: absolute;
    left: 220px;
}
#Search{
    width: 600px;
    height: 45px;
    border-radius: 40px;
    border: 1px solid black;
    padding-left: 40px;
    background-color: #f7f9fA;
}
#login{
    height: 40px;
    width: 80px;
    background-color: white;
    color: black;
    font-weight: bold;
    border: 1px solid black;
}
#signup{
    height: 40px;
    width: 80px;
    background-color: black;
    color: white;
    font-weight: bold;
    border: 1px solid black;
}
#section1{
    background-image: url(pic1.png);
    height: 400px;
    width: 98%;
    background-position: center;
    background-repeat: no-repeat;
}
#div1{
    position: absolute;
    top: 140px;
    left: 180px;
    height: 120px;
    width: 400px;
    background-color: white;
    padding-left: 15px;
    padding-top: 15px;
    color: #2d2f31;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .08), 0 4px 12px rgba(0, 0, 0, .08);
    
    
}
h1{
    font-weight: 900; font-family: serif ;  font-size: 35px;
    
}
#div2{
    padding-left: 120px;
    font-family: var(--font-stack-heading-serif); 
    color: #2d2f31;
}
#div2 p { font-size: 18px;
    color:  #6a6f73;

}
#div3{
    display: flex;
    justify-content: space-around;
    width: 65%;
    padding-left: 90px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: gray;
    font-size: 14px;
    

    
    
}
#div3 span:hover{
color: black;
}
#section2{
    background-color: #f7f9fA;
}
#div4{
    
    padding-left: 88px;
    padding-top: 30px;
    padding-right: 80px;
    display: flex;
    justify-content: space-between;

    
    
}
#div41{
    padding-left: 15px;
    padding-top: 15px;
    padding-right: 15px;
    height: 60px;
    background-color: #e4e8eb;
    border-radius: 40px;
   

}

#div41 p{
    color:  #6a6f73;
}
#div41:hover{
    color: white;
    background-color: #2d2f31;
}
#div5{
    display: flex;
    justify-content: space-around;
    padding-left: 88px;
    padding-right: 80px;
    margin-top: 20px;

}
#card{
   border: 1px solid black;
   border-radius: 5px;
   
}
#div151{
  width: 200;

}
#div251{
    padding: 15px;
}
#btnsection2{
    margin-left: 100px;
    margin-top: 30px;
    height: 40px;
    width: 300px;
    font-weight: bolder;
    background-color:#f7f9fA ;
    border: 1px solid black;
    font-size: medium;
}
#btnsection2:hover{
    background-color: #c9ced3;
}
#section3 p{
    color:#6a6f73; 
    margin-top: 60px;
    font-size: large;
    
}
#section4{
    background-color: #f7f9fA ;
}
#section4 h1{
    margin-left: 80px;
    font-family:serif;
}
#section4-1{
    display: flex;
}
#section4-1-1{
    display: flex;
    border-left: 10px solid blueviolet;
    border-top: 1px solid blueviolet;
    border-bottom: 1px solid blueviolet;
    border-right: 1px solid blueviolet;

    margin-left: 80px;
    margin-top: 40px;
    padding-top: 40px;
    padding-left: 10px;
    width: 500px;
    height: 100px;
    background-color: white;
    border-radius: 20px;
}
#section4-1-1:hover{
    background-color: #96999c58;
}

#section4div1{
    display: flex;
}
